.btn-color {
    background-color: #0f49b6;
    color: #fff;
    
}

.cardbody-color {
    background-color: #ebf2fa;
}

a {
    text-decoration: none;
}

.navbar-toggler {
    border:none;
}

.upload-route{
    padding: 4%;
    height: 400px;
}
.upload-route .col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.upload-route-info{
    margin-top:10%;
}
.upload-route-info h2{
    margin-bottom: 10%;
}
.upload-route .col-md-9{
    background: #ffffff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.upload-route-form label{
    font-weight:600;
}
.upload-route-form button{
    background: #43a4ff;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.upload-route-form button:focus{
    box-shadow:none;
}

.form-group {
    margin-bottom: 10px;
}

.col-sm-2 {
    padding-right: 0;
}

.col-sm-1 {
    margin-right: 9px;
}

