.UploadRoute {
    text-align: center;
}

.btn-color {
    background-color: #0f49b6;
    color: #fff;
}

h5 {
    font-family: Arial, sans-serif;
    color: #2c77c3;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
}